.fut {
	background: #fff;
	overflow-x: hidden;

	h1 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		color: #989898;
		margin: 0;
		padding: 40px;
	}

	main {
		padding: 0 30px 40px;
		display: flex;
		flex-direction: column;
		gap: 50px;

		.hire {
			span {
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				color: #848484;
				text-align: center;
			}

			text-align: center;
			color: #848484;
			font-weight: 300;
		}
	}

	.icons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		img {
			opacity: .5;

			&:hover {
				opacity: 1;
				transition-duration: .3s;
				transform: scale(1.5);
			}
		}
	}
}