.main-page {
	box-shadow: 12px 11px 60px rgba(0, 0, 0, 0.5);
	background-image: url("../assets/logo-black.svg");
	background-repeat: no-repeat;
	background-position: 150px -10px;
	background-size: 1540px;

	main {
		color: #fff;
		display: flex;
		align-items: center;
		padding: 135px;

		.titles {
			display: flex;
			flex-direction: column;
			width: 37vw;

			h1 {
				font-size: 5vw;
				font-weight: 900;
				text-align: left;
			}

			h6 {
				font-size: 2vw;
				font-weight: 100;
				text-align: left;
				width: 40vw;
			}
		}
	}

	footer {
		display: flex;
		justify-content: space-between;
		color: #989898;
		padding: 175px 100px 0px;

		p {
			padding: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		p:nth-child(1) {
			font-size: 2.5vw;
			font-weight: 600;
			text-align: center;
		}

		p:nth-child(2) {
			font-size: 2vw;
			font-weight: 300;
			text-align: left;
		}
	}

	.logo {
		display: flex;
		justify-content: flex-end;
		padding: 55px;
	}
}

.navbar {
	background: #00000050 !important;
	color: #fff;

	li {
		font-size: 1.2vw;
		font-weight: 400;
	}

	.offcanvas {
		align-items: flex-end;
	}

}

.services-map {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	.left {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 10px;

		div:nth-child(1) {
			border-radius: 250px 25px 25px 25px;
			height: 48vh;
			width: 20vw;
			background: linear-gradient(145.09deg,
					rgba(100, 100, 100, 0.88) 30.16%,
					rgba(100, 100, 100, 0.88) 50.04%,
					#727272 91.29%);
			box-shadow: 0px 4px 4px 0px #00000040;
		}

		div:nth-child(2) {
			border-radius: 25px 25px 25px 250px;
			height: 23vh;
			width: 10vw;
			background: linear-gradient(137.58deg,
					#9b9999 11.38%,
					rgba(130, 130, 130, 0.79) 50.04%,
					rgba(146, 146, 146, 0.36) 91.54%);
			box-shadow: 0px 4px 4px 0px #00000040;
		}
	}

	.right {
		position: relative;

		div {
			box-shadow: 9px 10px 40px 0px #00000066;
			height: 73vh;
			width: 20vw;
			backdrop-filter: blur(10px);
			border-radius: 25px 25px 250px 25px;
			position: absolute;
			padding: 20px;

			span {
				text-shadow: 1px 2px 4px 0px #00000040;
				font-size: 1.7vw;
				font-weight: 600;
				text-align: left;
			}

			&:hover {
				transform: translateX(-20.75vw);
				transition-duration: 1s;
				transform-origin: center left;
				border-radius: 25px;
			}
		}

		div:nth-child(1) {
			background: linear-gradient(149.47deg,
					rgba(170, 146, 19, 0.9) 5.08%,
					rgba(175, 107, 25, 0.9) 50.65%,
					rgba(175, 76, 27, 0.9) 75.66%);
		}

		div:nth-child(2) {
			top: 15vh;
			right: -21vw;
			background: linear-gradient(149.47deg,
					rgba(184, 67, 118, 0.8) 5.08%,
					rgba(162, 51, 125, 0.8) 50.65%,
					rgba(137, 31, 127, 0.8) 75.66%);
		}

		div:nth-child(3) {
			top: 30vh;
			right: -22vw;
			background: linear-gradient(149.47deg,
					rgba(20, 170, 105, 0.8) 5.08%,
					rgba(25, 145, 128, 0.8) 50.65%,
					rgba(33, 127, 149, 0.8) 75.66%);
		}

		div:nth-child(4) {
			top: 45vh;
			right: -23vw;
			background: linear-gradient(149.47deg,
					rgba(39, 102, 223, 0.8) 5.08%,
					rgba(68, 66, 179, 0.8) 50.65%,
					rgba(95, 39, 179, 0.8) 75.66%);
		}
	}
}

@media screen and (max-width : 1200px) {
	.offcanvas {
		align-items: center !important;
	}

	.offcanvas.offcanvas-end {
		background: linear-gradient(255.37deg, #000000 14.38%, #262626 67.97%);

		.offcanvas-header {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.offcanvas-body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			li {
				font-size: 25px;
				padding: 0 !important;
				text-align: center;
			}
		}
	}

	.main-page {
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 50px;

			.titles {
				width: auto;

				h1,
				h6 {
					text-align: center;
					width: 60vw;
				}
			}
		}
	}

	.services-map {
		.left {
			div:nth-child(1) {
				height: 15vh;
				width: 20vw;
			}

			div:nth-child(2) {
				height: 10vh;
				width: 13vw;
			}
		}

		.right {
			div {
				height: 33vh;
			}

			div:nth-child(2) {
				top: 4vh;
				right: -21vw;
			}

			div:nth-child(3) {
				top: 8vh;
				right: -22vw;
			}

			div:nth-child(4) {
				top: 12vh;
				right: -23vw;
			}
		}
	}

	footer {
		display: flex;
		flex-direction: column;
		padding: 100px 20px 0px !important;

		p {
			padding: 10px !important;
			text-align: center !important;
		}
	}

	.logo {
		justify-content: center !important;
	}
}