.our-services {
	min-height: 100vh;
	background: #fff;

	h1 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		color: #989898;
		margin: 0;
		padding: 40px;
	}

	main {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-inline: 100px;
	}

	.data-holder {
		box-shadow: 9px 10px 40px 0px #00000066;
		height: 428px;
		width: 244px;
		backdrop-filter: blur(10px);
		border-radius: 25px 25px 250px 25px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #989898;
		margin-bottom: 100px;
		background: linear-gradient(149.47deg,
				rgba(39, 102, 223, 0.8) 5.08%,
				rgba(68, 66, 179, 0.8) 50.65%,
				rgba(95, 39, 179, 0.8) 75.66%);
		transition-duration: 1s;

		span {
			text-align: left;
			color: #ffffff;
			text-shadow: 1px 2px 4px 0px #00000040;
		}

		span:nth-child(1) {
			font-size: 20px;
			font-weight: 600;
			line-height: 23px;
		}

		hr {
			border: 1px solid #ffffff;
		}

		span:nth-child(2) {
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
		}

		img {
			transition-duration: 1s;
		}

		&:hover {
			border-radius: 25px;
			align-items: center;
			transition-duration: 1s;
		}
	}
}

@media screen and (max-width : 1200px) {

	.our-services {
		main {
			justify-content: center;
			padding-inline: 30px;
		}
	}
}