.why {
	background: linear-gradient(149.47deg,
			rgba(20, 170, 105, 0.9) 5.08%,
			rgba(25, 145, 128, 0.9) 50.65%,
			rgba(33, 127, 149, 0.9) 75.66%);
	box-shadow: 9px 10px 34px 15px #00000026;
	left: -2px;
	top: 3844px;
	border-radius: 0px;
	padding: 0 50px 50px;


	.header {
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		color: #ffffff;
		margin: 0;
		padding: 40px;
	}

	main {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-inline: 50px;
	}
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	width: 250px;
	height: 410px;
	border-radius: 30px;
	padding: 25px;
	box-shadow: 12px 11px 60px 0px #00000080;
	background: linear-gradient(255.37deg, #000000 14.38%, #262626 67.97%);
	margin: 5px;

	img {
		opacity: .25;
		padding: 5px;
	}

	.hov {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 25px;
		transition-duration: .2s;
	}

	&:hover {
		.hov {
			flex-direction: row;
			align-items: flex-start;
			gap: 10px;

			.name {
				text-align: left;
			}
		}

		img {
			width: 40px;
			height: 40px;
		}

		.description {
			display: block;
		}
	}

	.description {
		display: none;
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
		text-align: left;
		color: #848484;
	}

	.name {
		font-size: 20px;
		font-weight: 600;
		line-height: 23px;
		text-align: center;
		color: #FFFFFF;
		padding: 5px;
	}
}